<a href="https://colab.research.google.com/github/lmquann/leminhquan/blob/main/bai_tap_phan_tich_anova_1_chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

In [ ]:
#Code here

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as st

**Sử dụng tập dữ liệu Excavation Depth and Archaeology**

In [ ]:
df = pd.read_csv("/content/DATA1.csv")
df

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [ ]:
#Loại bỏ các ngoại lệ: 
s1 = df['X1'].dropna()
s2 = df['X2'].dropna()
s3 = df['X3'].dropna()
s4 = df['X4'].dropna()

Kiểm tra phân phối chuẩn của các mẫu với mức ý nghĩa 0.05:


Phát biểu giả thiết:

+ $H_0$ : Mẫu tuân theo phân phối chuẩn.

+ $H_a$ : Mẫu không tuân theo phân phối chuẩn.

In [ ]:
stats1, p1 = st.shapiro(s1) 
print("Statistic =", stats1, "\n", "p value =", p1)
if p1 > 0.05:
    print("không có bằng chứng để bác bỏ giả thiết H0")
else:
    print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 0.9865291118621826
 p value = 0.9960364103317261
không có bằng chứng để bác bỏ giả thiết H0

In [ ]:
stats1, p1 = st.shapiro(s2) 
print("Statistic =", stats1, "\n", "p value =", p1)
if p1 > 0.05:
    print("không có bằng chứng để bác bỏ giả thiết H0")
else:
    print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 0.967294454574585
 p value = 0.864689826965332
không có bằng chứng để bác bỏ giả thiết H0

In [ ]:
stats1, p1 = st.shapiro(s3) 
print("Statistic =", stats1, "\n", "p value =", p1)
if p1 > 0.05:
    print("không có bằng chứng để bác bỏ giả thiết H0")
else:
    print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 0.9475650787353516
 p value = 0.601704478263855
không có bằng chứng để bác bỏ giả thiết H0

In [ ]:
stats1, p1 = st.shapiro(s4) 
print("Statistic =", stats1, "\n", "p value =", p1)
if p1 > 0.05:
    print("không có bằng chứng để bác bỏ giả thiết H0")
else:
    print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 0.8740402460098267
 p value = 0.13579683005809784
không có bằng chứng để bác bỏ giả thiết H0

Kiểm tra sự đồng nhất phương sai giữa các nhóm: 

Với mức ý nghĩa 0.05: 

Phát biểu giả thuyết: 

+ $H_0$: Mẫu có cùng phương sai. 
  
  $\sigma_{1}^2$ = $\sigma_2^2$ = $\sigma_3^2$ = $\sigma_4^2$

+ $H_a$: Có sự khác biệt về phương sai của mẫu.

In [ ]:
stats, p = st.levene(s1, s2, s3, s4) 
print("Statistic =", stats, "\n", "p value =", p)
if p > 0.05:
  print("không có bằng chứng để bác bỏ giả thiết H0")
else:
  print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 0.7977710039415561
 p value = 0.5020818274234007
không có bằng chứng để bác bỏ giả thiết H0

Vì các mẫu đều tuân theo phân phối chuẩn và phương sai các mẫu đều bằng nhau nên ta tiến hành kiểm định ANOVA một chiều

Kiểm định ANOVA một chiều với mức ý nghĩa 0.05:

Phát biểu giả thuyết:

+ $H_0$: Mẫu có giá trị trung bình bằng nhau. 
  
  $\overline{\rm x}_1$ = $\overline{\rm x}_2$ = $\overline{\rm x}_3$ = $\overline{\rm x}_4$

+ $H_a$: Có sự khác biệt về giá trị trung bình của mẫu.

In [ ]:
stats, p = st.f_oneway(s1, s2, s3, s4) 
print("Statistic =", stats, "\n", "p value =", p)
if p > 0.05:
  print("không có bằng chứng để bác bỏ giả thiết H0")
else:
  print("có bằng chứng để bác bỏ giả thiết H0")

Statistic = 15.139053436390862
 p value = 7.99057539367343e-07
có bằng chứng để bác bỏ giả thiết H0

**Kết luận:** Tồn tại sự khác biệt về giá trị trung bình về độ sâu của các địa điểm khảo cổ.Dẫn đến quyết định về sự chuẩn bị cho vật tư khai quật các nơi này sẽ khác nhau.