<a href="https://colab.research.google.com/github/lmquann/leminhquan/blob/main/btloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#1
i = 0
while(i < 10):
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [52]:
#2
num = 5
for i in range(num, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [6]:
#3
number = float(input("type a number: "))
i = 1
s = 0
while (i <= number):
  s = s + i
  i = i + 1 
print(s)

type a number: 100
5050

In [13]:
#4
num = int(input(" type a number: "))
i = 1
while (i <= 10):
    print(num, "x", i, "=", i*num)
    i = i + 1

 type a number: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [14]:
#5
for num in [1, 2, 3, 4, 5]:
  print(num)

1
2
3
4
5

In [15]:
#6
n = int(input("type a number : "))
count = 0
while (n != 0):
  n = int(n/10)
  count = count + 1
print("Number of digits : ",count)

type a number : 36472
Number of digits :  5

In [18]:
#7
list = ['one','two','three','ten','five']
i = len(list) - 1
while (i>=0):
  print(list[i])
  i = i - 1

five
ten
three
two
one

In [19]:
#8
i = -10
while (i < 0):
  print(i)
  i = i + 1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [47]:
#10
x = int(input("type the start number: "))
y = int(input("type the end number: "))
for i in range(x,y+1):
  if i > 1:
    for j in range(2,i):
      if (i % j == 0):
        break
    else:
       print(i)

type the start number: 2
type the end number: 5
2
3
5

In [55]:
#11
Fibo = int(input("type value: "))
x = 0
y = 1
sum = 0
count = 1
print("Day Fibo la: ", end = " ")
while(count <= Fibo):
  print(sum, end = " ")
  count += 1
  x = y
  y = sum
  sum = x + y

type value: 11
Day Fibo la:  0 1 1 2 3 5 8 13 21 34 55

In [53]:
#12
num = int(input("type number: "))
fac = 1
i = 1
if num < 0:
   print("negative number")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   while (i <= num):
       fac = fac*i
       i = i + 1
   print("The factorial of",num,"is: ",fac)

type number: 21
The factorial of 21 is:  51090942171709440000

In [38]:
#13
x = int(input("type number: "))
rev = 0
while (x > 0):
    a = x % 10
    rev = rev * 10 + a
    x = x // 10
print(rev)

type number: 12340
4321

In [48]:
#14
list = [1, 2, 3, 4, 5,'one','thi','ca']    
print("Elements from a given list at odd index position: ");    
for i in range(0, len(list), 2):    
    print(list[i]);

Elements from a given list at odd index position:
1
3
5
thi

In [57]:
#15
num = int(input("type number: "))
cubenum = 0
for i  in range(0, num + 1) :
  cubenum = i*i*i
print(cubenum)

type number: 12
1728