<a href="https://colab.research.google.com/github/lmquann/leminhquan/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np 
import pandas as pd
import random

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:

- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

In [13]:
Series1_Hovaten = pd.Series(input("nhập họ và tên: ") for i in range(10))

nhập họ và tên: A
nhập họ và tên: B
nhập họ và tên: C
nhập họ và tên: D
nhập họ và tên: E
nhập họ và tên: F
nhập họ và tên: G
nhập họ và tên: H
nhập họ và tên: I
nhập họ và tên: K

In [14]:
Series2_Ngaysinh = pd.Series(input("Ngày sinh: ") for i in range(10))

Ngày sinh: 1/2/2002
Ngày sinh: 1/3/2001
Ngày sinh: 7/8/1999
Ngày sinh: 5/4/1990
Ngày sinh: 7/8/1999
Ngày sinh: 2/5/2002
Ngày sinh: 3/5/2003
Ngày sinh: 5/4/2002
Ngày sinh: 6/3/2002
Ngày sinh: 4/1/2002

In [25]:
Series3_Tiencong = pd.Series(int(input("Tiền công: ")) for i in range(10))

Tiền công: 1000
Tiền công: 3000
Tiền công: 4000
Tiền công: 2000
Tiền công: 5000
Tiền công: 2000
Tiền công: 1000
Tiền công: 2000
Tiền công: 4000
Tiền công: 3000

In [26]:
Series4_Giolam = pd.Series(int(input("Giờ làm: ")) for i in range(10))

Giờ làm: 4
Giờ làm: 5
Giờ làm: 2
Giờ làm: 1
Giờ làm: 4
Giờ làm: 3
Giờ làm: 2
Giờ làm: 5
Giờ làm: 3
Giờ làm: 2

In [17]:
Series5_Thuclinh = pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [30]:
data = {"Họ và tên": Series1_Hovaten, "Ngày sinh": Series2_Ngaysinh, "Tiền công": Series3_Tiencong, "Giờ làm": Series4_Giolam, "Thực lĩnh": Series5_Thuclinh}
df = pd.DataFrame(data)

In [28]:
Series5_Thuclinh =  (Series3_Tiencong)*(Series4_Giolam)

In [29]:
print(df)

  Họ và tên Ngày sinh  Tiền công  Giờ làm  Thực lĩnh
0         A  1/2/2002       1000        4    10000.0
1         B  1/3/2001       3000        5    12000.0
2         C  7/8/1999       4000        2    10000.0
3         D  5/4/1990       2000        1     2000.0
4         E  7/8/1999       5000        4     3200.0
5         F  2/5/2002       2000        3    16800.0
6         G  3/5/2003       1000        2    15600.0
7         H  5/4/2002       2000        5    16400.0
8         I  6/3/2002       4000        3     4200.0
9         K  4/1/2002       3000        2    15500.0

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;
- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [44]:
hoten = ["A","B","C","D","Q","F","H","D","U","S"]
tuoi = [random.randint(17,22) for i in range(10)]
gioitinh = ["Nữ","Nam","Nam","Nam","Nữ","Nam","Nữ","Nữ","Nam","Nữ"]
data = [hoten,tuoi,gioitinh]
df = pd.DataFrame(data)
print(df)

    0    1    2    3   4    5   6   7    8   9
0   A    B    C    D   Q    F   H   D    U   S
1  18   20   19   19  19   18  22  19   20  21
2  Nữ  Nam  Nam  Nam  Nữ  Nam  Nữ  Nữ  Nam  Nữ

In [45]:
data = {"Họ tên": hoten,"Tuổi": tuoi,"Giới tính": gioitinh}
df = pd.DataFrame(data)
print(df)

  Họ tên  Tuổi Giới tính
0      A    18        Nữ
1      B    20       Nam
2      C    19       Nam
3      D    19       Nam
4      Q    19        Nữ
5      F    18       Nam
6      H    22        Nữ
7      D    19        Nữ
8      U    20       Nam
9      S    21        Nữ

In [46]:
data = [{"Họ và tên":hoten},{"Tuổi":tuoi},{"Giới tính":gioitinh}]
df = pd.DataFrame(data)
print(df)

                        Họ và tên                                      Tuổi  \
0  [A, B, C, D, Q, F, H, D, U, S]                                       NaN
1                             NaN  [18, 20, 19, 19, 19, 18, 22, 19, 20, 21]
2                             NaN                                       NaN

                                       Giới tính
0                                            NaN
1                                            NaN
2  [Nữ, Nam, Nam, Nam, Nữ, Nam, Nữ, Nữ, Nam, Nữ]

In [48]:
_hoten = [input("Họ và tên: ") for i in range(10)]
_tuoi = [input("tuổi: ") for i in range(10)]
_gioitinh = [input("Giới tính: ") for i in range(10)]
data = zip(_hoten,_tuoi,_gioitinh)
df = pd.DataFrame(data, columns=["họ và tên","tuổi","giới tính"])
print(df)

Họ và tên: A
Họ và tên: Q
Họ và tên: E
Họ và tên: R
Họ và tên: T
Họ và tên: Y
Họ và tên: U
Họ và tên: I
Họ và tên: O
Họ và tên: G
tuổi: G
tuổi: 19
tuổi: 18
tuổi: 20
tuổi: 21
tuổi: 22
tuổi: 20
tuổi: 19
tuổi: 20
tuổi: 21
Giới tính: Nam
Giới tính: Nữ
Giới tính: Nữ
Giới tính: Nam
Giới tính: Nữ
Giới tính: Nam
Giới tính: Nam
Giới tính: Nữ
Giới tính: Nam
Giới tính: Nữ
  họ và tên tuổi giới tính
0         A    G       Nam
1         Q   19        Nữ
2         E   18        Nữ
3         R   20       Nam
4         T   21        Nữ
5         Y   22       Nam
6         U   20       Nam
7         I   19        Nữ
8         O   20       Nam
9         G   21        Nữ